@model PetGrooming.Models.Species
@{
    ViewBag.Title = "Show";
}

<h2>Show</h2>
<a herf="/Species/List">Back To List</a>
<br /><br />
<a href="/Species/Update/@Model.SpeciesID">Update</a>
Species Name : @Model.Name

